/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Oswald";
  background-color: #f4f7fa;
  color: #000000;
  line-height: 1.6;
}

.container {
  width: 93%;
  max-width: 1200px;
  margin: auto;
}

/* Header */
header {
  background: linear-gradient(90deg, #13c1f2, #3d359a);
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  font-size: small;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
}

.header-logo {
  height: 30px; 
  border-radius: 50%;
  padding-left: 10px;
  padding-top: 5px;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  position: relative;
}

header nav ul li a::after {
  content: "";
  width: 0%;
  height: 2px;
  position: absolute;
  bottom: -5px;
  left: 0;
  background-color: white;
  transition: width 0.3s;
}

header nav ul li a:hover::after {
  width: 100%;
  background-color: #000000;
}

/* Hero Section */
#hero {
  background: linear-gradient(#000000, #2e2e2e);
  padding: 0px 40px;
}

.hero-container {
  display: flex;
  align-items: left;
  justify-content: space-between;
  max-width: 1200px;
  gap: 40px;
  flex-wrap: wrap;
}

.hero-content {
  flex: 1rem;
  text-align: left;
}

.hero-content h2 {
  font-size: 1.5rem;
  color: #eee6e6;
  margin: 50px 0px 30px 0;
}

.hero-content p {
  margin-left: 8%;
  font-size: 0.7rem;
  margin-bottom: 30px;
  color: #ffffff;
}

.hero-image {
  flex: 1;
  text-align: center;
  margin-top: 7%;
}

.hero-image img {
  max-width: 100%;
  height: 350px;
  margin-bottom: 20%;
  border-radius: 1rem;
}

.hero-content .btn {
  margin-left: 35%;
}
.btn {
  background-color: black;
  border: 1px solid white;
  color: white;
  padding: 4px 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 8px;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.7s ease;
  display: inline-block;
}

.btn:hover {
  box-shadow: 0 3px 7px rgba(27, 181, 252, 0.7);
}

.divider-line {
  width: 90%;
  height: 1px;
  margin-left: 1.8rem;
  margin-top: 1.1rem;
  background-color: white;
  position: relative;
}

/* About Section*/
#about {
  padding: 40px 0;
  background: linear-gradient(#2e2e2e, #000000);
}

.container {
  justify-content: space-between;
  max-width: 1200px;
  gap: 40px;
  flex-wrap: wrap;
  margin-right: 60px;
}

#about h2 {
  font-size: 1.5rem;
  margin: 10px 0px 30px 0;
  color: #eee6e6;
  text-align: left;
  margin-left: 30px;
}

.about-intro p {
  margin-left: 8%;
  font-size: 0.7rem;
  margin-bottom: 30px;
  color: #eae0e0;
}

.about-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  margin-bottom: 40px;
  margin-left: 8%;
}

.about-item {
  background-color: rgb(230, 224, 224);
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.about-item h3 {
  color: #00c6ff;
  font-size: 0.9rem;
  margin-bottom: 15px;
  font-weight: 500;
}

.about-item p {
  color: black;
  font-size: 0.7rem;
  line-height: 1.6;
}

/* Services Section */
#services {
  padding: 40px 0;
  background: linear-gradient(#000000, #2e2e2e);
}

#services .container {
  justify-content: space-between;
  max-width: 1200px;
  gap: 40px;
  flex-wrap: wrap;
}

#services h2 {
  font-size: 1.5rem;
  margin: 10px 0px 30px 0;
  color: #eee6e6;
  text-align: left;
  margin-left: 30px;
}

.services-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  margin-left: 8%;
  margin-bottom: 40px;
}

.service {
  background-color: rgb(230, 224, 224);
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.service h3 {
  color: #00c6ff;
  font-size: 0.9rem;
  margin-bottom: 15px;
  font-weight: 500;
}

.service p {
  color: black;
  font-size: 0.7rem;
  line-height: 1.6;
}

/* Collections Section */
#collections {
  padding: 40px 0;
  background: linear-gradient(#2e2e2e, #000000);
}

#collections .container {
  justify-content: space-between;
  max-width: 1200px;
  gap: 40px;
  flex-wrap: wrap;
}

#collections h2 {
  font-size: 1.5rem;
  margin: 10px 0px 30px 0;
  color: #eee6e6;
  text-align: left;
  margin-left: 30px;
}

/* Grid Layout */
.collection-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  margin-left: 60px;
}

/* Card Style */
.car-card {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
}

.car-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.car-card h3 {
  font-size: 0.9rem;
  margin: 1rem;
  color: #00c6ff;
  font-weight: 600;
}

.car-card p {
  font-size: 0.7rem;
  color: #d1d1d1;
  margin: 0 1rem 1.5rem;
  line-height: 1.6;
}

/* Footer */
footer {
  background-color: #111111;
  color: #cccccc;
  text-align: center;
  padding: 10px 0;
  font-size: 0.6rem;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

footer p {
  margin: 0;
  padding: 0;
  color: #aaaaaa;
}
